@import '../../styles/variables';
.banner {
  h1 {
    font-weight: 100;
    span {
      padding-top: 10px;
      display: block;
      font-size: 2rem;
      font-family: $font_primary_bold;
    }
  }
}
.featuresOne {
  margin-top: 50px;
}
.featuresTwo {
  margin: 50px 0;
  img {
    object-fit: cover;
  }
}
.rowContainer {
  background-color: $color_tertiary;
  padding: 30px 0;
}
.rowBackground {
  @include container;
}

.containerService {
  margin: auto;
  margin-top: 100px;

  .title {
    margin: auto;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 100;
    width: 100%;
    span {
      color: $color_tertiary;
      font-weight: bold;
    }
  }

  .description {
    color: $color_secondary;
    font-size: 1.8rem;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    line-height: 1.5;
    width: 100%;
  }
}
.commercial {
  section {
    margin-top: 20px;
    margin-bottom: 50px;
  }
  button,
  a {
    div {
      width: 180px;
    }
  }
}
@media (min-width: 1024px) {
  .containerService {
    .title {
      width: 80%;
    }
    .description {
      width: 70%;
    }
  }
}