.banner {
  & > div {
    height: 400px;
    padding: 20px auto;
    justify-content: space-evenly;
  }
}

.features {
  margin-bottom: 120px;
  span {
    display: inline-block;
  }
  button,
  a {
    div {
      font-size: 1.6rem;
      width: 30rem;
    }
  }
}

// desktop {
@media (min-width: 1024px) {
  .banner {
    & > div {
      height: 500px;
    }
    p {
      margin-top: 0;
      margin-bottom: 50px;
    }
  }
}