@import '../../../styles/variables';
.container {
	background-color: $color_quinary;
	box-shadow: 0px 3px 6px #cccccc99;
	display: flex;
	justify-content: space-between;
	height: 50px;
}
.ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 3%;
	gap: 20px;
	width: 100%;
}
.items {
	background-color: transparent;
	border: 0;
	color: $color_primary;
	cursor: pointer;
	font-size: 1.4rem;
	font-style: italic;
	font-weight: bold;
}
.itemBlue {
	color: $color_tertiary;
}

.ulChildren {
	// background-color: $color_senary;
	background-color: #ebebeb;
	border-radius: 14px;
	box-shadow: 0px 3px 6px #cccccc99;
	font-style: initial;
	font-size: 1.5rem;
	line-height: 2;
	padding: 20px;
	width: 220px;
	a {
		color: $color_primary;
	}
	li {
		display: flex;
		align-items: center;
	}
	.liBaseline {
		align-items: baseline;
	}
	.liStrong {
		font-family: $font_primary_bold;
		& > div {
			border: 0;
		}
	}
}

.marginSubItems {
	height: 100%;
	width: 100%;
	padding-top: 14px;
	position: absolute;
}

.arrowRight {
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 6px solid $color_quaternary;
	margin-right: 10px;
	height: 0;
	width: 0;
}