.title {
	color: #353a3d;
	text-align: center;
	font-size: 2.7rem;
	font-weight: 100;
	strong {
		color: #009af0;
	}
}
.hr {
	border: none;
	height: 1px;
	width: 80%;
	background: #ff9325;
	margin: 30px auto;
}
