@import '../../styles/variables';
.container {
  margin: 50px 0;
}
.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  width: 100%;
  margin: auto;
}
.item {
  background-color: $color_quinary;
  border: 1px solid $color_quaternary;
  padding: 20px;
  border-radius: 15px;
  height: 300px;
  position: relative;
  width: 100%;
  margin: auto;
  text-align: center;
}
.description {
  color: $color_secondary;
  font-size: 1.6rem;
  line-height: 1.3;
  text-align: center;
}

.button {
  bottom: 20px;
  font-size: 1.6rem;
  font-size: 1.6rem;
  margin: auto;
  position: absolute;
  width: 100%;
  margin: auto;
  left: 0;
  padding: 0 5%;
}

.asesoria {
  border: 0;
  display: flex;
  justify-content: center;
  padding: 0;
  .button {
    position: absolute;
    bottom: 20px;
    margin: auto;
    width: 100%;
  }
  .image {
    div,span, img {
      height: 100% !important;
      width: 100% !important;
    }
  }
}

// desktop
@media (min-width: 1024px) {
  .items {
    gap: 40px;
    width: 900px;
  }
}