@import '../../styles/variables';
.section {
	margin-bottom: 60px;
}
.container {
	width: 100%;
}
.image {
	width: 100%;
}
.video {
	iframe {
		border-radius: 10px;
	}
}

.title {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	span {
		color: $color_tertiary;
		font-weight: 600;
	}
	h2,h2,h3,h4,h5,h6 {
		font-size: 2.7rem;
		font-weight: lighter;
	}
}
.items {
	ul {
		padding-left: 5px;
	}
	li {
		font-size: 1.4rem;
		line-height: 1.5;
		padding: 10px 0;
		display: flex;
		align-items: baseline;
		gap: 10px;
		display: flex;
		align-items: center;
	}
	.itemContent {
		width: 100%;
	}
	.itemContentTitle {
		font-family: $font_primary_bold;
	}
	.itemContentDescription {
		color: $color_secondary;
		margin: 0;
	}
}

.buttons {
	@include center;
	margin-top: 50px;
	font-size: 1.6rem;
	gap: 20px;
	flex-wrap: wrap;
	width: auto;
	button,
	a {
		div {
			font-size: 1.6rem;
			width: 24rem;
		}
	}
}

@media (min-width: 1024px) {
	.container {
		display: grid;
		gap: 20px;
	}
	.title {
		width: 320px;
		margin-left: 0;
		text-align: left;
		h2,
			h2,
			h3,
			h4,
			h5,
			h6 {
				font-size: 3rem;
			}
	}
	.image {
		margin: auto;	}
	.items {
		li {
			font-size: 1.6rem;
		}
		.itemContent {
			width: 80%;
		}
	}
	.left {
		grid-template-columns: 1fr 1.5fr;
		.image {
			grid-column: 2;
			margin-left: 0;
			width: 80%;
		}
		.description {
			grid-column: 1;
			grid-row: 1;
		}
	}
	.right {
		grid-template-columns: 1.5fr 1fr;
		.image {
			grid-column: 1;
			grid-row: 1;
			margin-left: 0;
			width: 80%;
		}
		.description {
			grid-column: 2;
		}
	}
	.video {
		padding-top: 20px;
		iframe {
			width: 80%;
			height: 80%;
		}
	}
	.buttons {
		flex-wrap: nowrap;
		width: auto;
		button,
		a {
			div {
				font-size: 1.6rem;
				width: 260px;
			}
		}
	}
}
