@import '../../styles/variables';
.container {
  width: 100%;
}
.cards {
  display: grid;
  padding: 20px 0;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
.card {
  @include center;
  flex-direction: column;
  & > span {
    box-shadow: 0px 3px 13px #00000010;
  }
}
.title {
  color:$color_primary;
  font-family: $font_secondary_bold;
  font-size: 1.6rem;
  width: 150px;
  text-align: center;
}

//desktop
@media (min-width: 1024px) {
  .container {
    background-color: #E6EFF5;
    margin: 130px 0;
  }
  .cards {
    @include container;
    grid-template-columns: repeat(4, 1fr);
  }
  .card {
    margin-top: -100px;
    height: auto;
  }
}