@import '../../styles/variables';
.container {
  margin: auto;
  width: auto;
  max-width: 350px;
}
.image {
  width: 100%;
  height: auto;
}
.title {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 100;
  border-bottom: 2px solid #DCE7EA;
  padding-bottom: 10px;
  span {
    color:$color_quaternary;
    display: block;
    font-weight: bold;
  }
}
.description {
  color:$color_secondary;
  font-size: 1.5rem;
  line-height: 1.3;
  padding-bottom: 50px;
}

.orange span{
  color: $color_quaternary;
  font-family: $font_primary_bold;
}

.blue span{
  color: $color_tertiary;
  font-family: $font_primary_bold;
}