@import '../../styles/variables';
.container {
	width: 100%;
}
.image {
	width: 100%;
	img {
		object-fit: contain;
	}
}

.title {
	font-size: 2rem;
	span {
		color: $color_quaternary;
		display: block;
		font-weight: 600;
	}
	.blue {
		color: $color_tertiary;
	}
}
.items {
	ul {
		padding-left: 5px;
	}
	li {
		color: $color_secondary;
		font-size: 1.4rem;
		line-height: 1.5;
		padding: 10px 0;
		display: flex;
		align-items: baseline;
		gap: 10px;
		&::before {
			content: '•';
			color: $color_tertiary;
			transform: scale(1.5);
		}
	}
	.icon{
		li{
			position: relative;
			padding-left: 50px;
			&::before {
				content: "";
				width: 25px;
				height: 25px;
				position: absolute;
				background-image: url('/images/icons/item.png');
				background-size: cover;
				background-position: 50%;
				left: 0;
				top: 50%;
				-webkit-transform: translateY(-50%);
				transform: translateY(-50%);
			}
		}
	}
}

@media (min-width: 1024px) {
	.container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 20px;
	}
	.image {
		margin: auto;
		margin-left: 0;
		width: 80%;
	}
	.items {
		li {
			font-size: 1.6rem;
		}
	}
	.title {
		font-size: 2.5rem;
	}
}
