@import '../../../styles/variables';
.banner {
  background-color: #e6eff5;
  padding-bottom: 20px;
  margin-bottom: 50px;
  h1,h2,h3,h4,h5,h6 {
    font-size: 2rem;
  }
}
.videosTitle {
    border-bottom: 1px solid $color_quaternary;
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 20px;
}
.conocerMas {
  height: 100px;
}

.commercial {
  section {
    margin-top: 0;
    height: 820;
  }
}

.containerBlog {
  background-color: $background;
  padding: 40px 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.newsletter {
  color: $color_quinary;
}
// desktop
@media (min-width: 1024px) {
  .banner {
    padding-bottom: 0px;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: 2.5rem;
    }
    & > div {
      height: 500px;
    }
  }
  .containerBlog {
    padding: 50px 10%;
  }
}