@import '../../styles/variables';
.benefit {
  text-align: center;
  margin-bottom: 60px;
  .benefitTitle {
    font-size: 2rem;
  }
  .benefitDescription {
    color:$color_secondary;
    font-size: 1.4rem;
    line-height: 1.4;
    margin-bottom: 30px;
  }
  .benefitButton {
    margin: auto;
    font-size: 1.6rem;
    width: 250px;
    a {
      width: 100%;
    }
    div {
      width: 100%;
    }
  }
}