@import '../styles/variables';
.containerFeatures {
	margin-top: 250px;
}

.containerAllies {
	margin-top: 20px;
}
.containerBlog {
	margin-top: 50px;
}
.containerTitle {
	margin-top: 0;
}

.containerMedia {
	margin-top: 50px;
}

// desktop
@media (min-width: 1024px) {
	.containerFeatures {
		margin-top: 200px;
	}
	.containerAllies {
		margin-top: 50px;
	}
	.containerTitle {
		font-size: 2.8rem;
	}
	.containerBlog {
		padding: 50px 10%;
	}
}
