@import '../../styles/variables';
.allQuestions {
  section {
    margin-top: 0;
  }
}
.preguntasFrecuentes {
  height: 120px;
}

.notFound {
  padding-top: 10px;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0;
}