@import '../../styles/variables';
.container {
  padding-top: 60px;
  h1 {
    font-weight: bold;
  }
}
.features {
  padding-bottom: 50px;
  img {
    object-fit: contain;
  }
  & > div {
    @include container;
  }
}
.containerAllies {
  padding: 40px;
}
@media (min-width: 1024px) {
  .container {
      padding-top: 100px;
    }
  .testimonials > section {
    margin-bottom: 150px;
  }
}