@import '../../styles/variables';
.container{
  margin-top: 50px;
}
.image{
  margin: auto;
  text-align: center;
  width: 100%;
}

.items{
  li{
    @include center;
    gap: 20px;
    font-size: 1.6rem;
    & > span {
      width: 70px;
    }
    p{
      color:$color_secondary;
      margin: 0;
      padding: 10px 0;
      line-height: 1.5;
      width: 85%;
    }
  }
}

// desktop
@media (min-width: 1024px) {
  .descriptionMobile{
    display: none;
  }
  .container{
    @include center;
    flex-direction: row-reverse;
  }
  .image {
    text-align: end;
  }
}