@import '../../styles/variables';
.banner {
  h1 {
    font-weight: 100;
    span {
      padding-top: 10px;
      display: block;
      font-size: 2rem;
      font-family: $font_primary_bold;
    }
  }
}

.features {
  margin-bottom: 100px;
  text-align: left;
}

.container {
  margin-bottom: 50px;
}

.containerCommercial {
  padding: 20px 5%;
  margin-bottom: 80px;
  & > section {
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .containerCommercial {
    padding: 20px 10%;
  }
  .features {
    text-align: initial;
  }
}