@import '../../styles/variables';
.banner {
  h1 {
    font-weight: 100;
    span {
      padding-top: 10px;
      display: block;
      font-size: 2rem;
      font-family: $font_primary_bold;
    }
  }
}

.container {
  margin-bottom: 50px;
}

@media (min-width: 1024px) {

}