@import '../../styles/variables';
.container {
	width: 100%;
}

.imageMap {
	text-align: center;
	min-width: 1024px;
	max-width: 1024px;
	margin: auto;
}

// desktop {
@media (min-width: 1024px) {
	.container {
		overflow-x: auto;
	}
}