@import '../../styles/variables';
.container{
	@include container;
}

.container_div{
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;
	.container_div_div_description{
		text-align: center;
		h2{
			color: $color_primary;
			font-size: 22px;
			font-weight: 400;
			span{
				color: #009AF0;
				font-size: 28px;
				display: block;
				font-weight: 700;
			}
		}
		p{
			color: #707B84;
			font-size: 18px;
			font-weight: 400;
			font-family: $font_secondary_regular;
		}
	}
}

.container_div_list {
	margin: 10px 0 30px;
	ul {
		display: grid;
		grid-template-columns: 1fr;
		gap: 10px;
	}
	li {
		color: $color_primary;
		font-size: 1.6rem;
		font-family: $font_primary_bold;
		line-height: 1.5;
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		gap: 10px;
		position: relative;
		padding-left: 50px;
		flex-wrap: wrap;
		&::before {
			content: "";
			width: 25px;
			height: 25px;
			position: absolute;
			background-image: url('/images/icons/item.png');
			background-size: cover;
			background-position: 50%;
			left: 0;
			top: 50%;
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
		}
	}
}

.container_div_btn{
	p{
		text-align: center;
		font-size: 16px;
		color: #707B84;
		font-weight: 400;
		font-family: $font_secondary_regular;
	}
}

.buttons {
	width: 250px;
	font-size: 14px;
	margin: 30px auto;
}

.button{
	height: 45px;
}

@media (min-width: 1024px) {
	.container {
		display: block;
	}
	.container_div_list {
		padding-left: 50px;
		ul {
			grid-template-columns: 1fr 1fr;
		}
	}

	.container_div{
		grid-template-columns: 1fr 1fr;
		padding-bottom: 50px;
		.container_div_div_description {
			text-align: left;
			display: flex;
			flex-direction: column;
			justify-content: center;
			h2 {
				font-size: 3rem;
				span {
					font-size: 3.5rem;
				}
			}
			p {
				font-size: 2rem;
			}
		}
	}
	.container_div_btn {
		padding-left: 50px;
	}
	.buttons {
		margin: 30px auto 0;
	}
}