@import '../../styles/variables';

.grid_template {
	@include container;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	margin:auto;
	> div {
		margin: 20px;
	}
}

@media (min-width: 1480px) {
	.grid_template {
		@include container;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
		margin: auto;
	}
}