@import '../../styles/variables';
.component_categories {
	@include container;
	&__categories {
		display: grid;
		grid-template-columns: 1fr;
		justify-content: center;
		align-items:center;
		gap: 20px;
		justify-content: space-between;
		list-style: none;
		padding: 20px 0;
		margin: 20px 0;
		position: relative;
		li {
			@include center;
			background: #fcfcfc 0% 0% no-repeat padding-box;
			border-radius: 12px;
			border: 2px solid #009af0;
			color: #009af0;
			cursor: pointer;
			font-size: 17px;
			font-style: italic;
			margin: 0 20px;
			padding: 10px 25px;
			text-align: center;
			text-transform: uppercase;
			width: 100%;
			margin: auto;
			&:hover {
				background: #e6eff5 0% 0% no-repeat padding-box;
			}
		}
	}
}
@media (min-width: 1024px) {
	.component_categories {
		&__categories {
			grid-template-columns: repeat(4, 1fr);
			gap: 50px;
			li {
				height: 60px;
			}
		}
	}
}

@media (min-width: 600px) and (max-width:1024px) {
	.component_categories {
		&__categories {
			grid-template-columns: repeat(2, 1fr);

			li {
				height: 50px;
			}
		}
	}
}
