@import '../../../styles/variables';

.margin {
  margin: 100px 0;
}
.containerAllies {
  position: relative;
  margin-bottom: 100px;
}
.textAbsolute {
  position: absolute;
  bottom: -30px;
  background: $color_quinary 0% 0% no-repeat padding-box;
  box-shadow: 2px 2px 8px #0000001a;
  border-radius: 10px;
  padding: 10px 30px;
}
.featureTwo {
  span {
    color: $color_tertiary;
    font-family: $font_primary_bold;
  }
  li::before {
    top: 15% !important;
  }
}
.Features {
  margin: 50px 0;
  .items {
    ul {
      padding-left: 5px;
    }
    li {
      color: $color_secondary;
      font-size: 1.6rem;
      line-height: 1.5;
      padding: 10px 0;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 10px;
    }
    .icon {
      li {
        position: relative;
        padding-left: 50px;
        &::before {
          content: "";
          width: 25px;
          height: 25px;
          position: absolute;
          background-image: url('/images/icons/item.png');
          background-size: cover;
          background-position: 50%;
          left: 0;
          top: 50%;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
        }
      }
    }
    .subIcon {
      padding-left: 50px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      li {
        font-weight: bold;
        padding: 0px 0 0 10px;
        &::before {
          content: '•';
          background-image: none;
          color: $color_tertiary;
          transform: scale(1.5);
          top: auto;
        }
      }
    }
    p {
      color: $color_secondary;
      font-size: 1.6rem;
    }
    span {
      color: $color_tertiary;
      font-weight: bold;
    }
    .itemsSubTitle {
      color: $color_tertiary;
      font-size: 1.8rem;
      font-family: $font_primary_bold;
      margin: 35px 0 25px 0;
    }
    strong {
      display: contents;
    }
    a {
      color: $color_tertiary;
      text-decoration: underline;
      word-break: break-word;
    }
  }
}

.video, .videoItems {
  height: 200px;
  margin: 20px auto;
  position: relative;
  width: 90%;
  iframe {
    height: 100%;
    width: 100%;
  }
}

.separator {
  border: 1px solid $color_quaternary;
  margin: 20px auto;
  width: 100%;
}

.commercial {
  margin-bottom: 100px;
}
// desktop
@media (min-width: 1024px) {
  .Features {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  .video {
    height: 400px;
    width: 70%;
  }
  .videoItems {
    height: 400px;
    width: 100%;
  }
  .containerAllies {
    .items {
      margin: auto;
      width: 75%;
    }
  }
}