@import '../../styles/variables';
.section {
	background-color: #FCFCFC;
	padding: 40px 20px;
}

.container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin: auto;
	text-align: center;
	gap: 20px;
	width: 100%;
}
.title {
	margin-top: 0;
}
.image {
	background-color: $color_quinary;
	box-shadow: 2px 2px 8px #0000001a;
	border-radius: 10px;
	img {
		object-fit: cover;
	}
}

// only for modal
.sectionTwo {
	padding: 30px 0;
	margin: auto;
	width: 100%;
	button {
		border: 0;
	}
	.buttons {
		align-items: baseline;
	}
}
.url {
	background-color: #EDF8FF;
	border-top: 1px solid $color_tertiary;
	padding: 10px 0;
	button {
		border: 0;
		color:$color_tertiary;
		cursor: pointer;
		font-weight: bold;
		font-style: italic;
		font-size: 1.4rem;
	}
}
.description{
	color:$color_secondary;
	font-size: 1.6rem;
	line-height: 1.4;
	width: 100%;
	padding-bottom: 20px;
}
.buttonOne{
	background: transparent linear-gradient(90deg, #4faffc 0%, #0b93ff 100%) 0% 0% no-repeat padding-box;
	border: 2px solid linear-gradient(90deg, #4faffc 0%, #0b93ff 100%) 0% 0% no-repeat padding-box;
	border-radius: 10px;
	color: $color_quinary;
	font-style: italic;
	line-height: 1.4;
	height: 70px;
	padding: 0 10%;
	width: 100%;
	margin-bottom: 20px;
}
.buttonTwo{
	background: transparent linear-gradient(90deg, #ff9a3e 0%, #ff9c26 100%) 0% 0% no-repeat padding-box;
	border: 2px solid linear-gradient(90deg, #ff9a3e 0%, #ff9c26 100%) 0% 0% no-repeat padding-box;
	border-radius: 10px;
	color: $color_primary;
	font-style: italic;
	line-height: 1.4;
	height: 70px;
	padding: 0 10%;
	width: 100%;
}
// desktop {
@media (min-width: 1024px) {
	.section {
		background-color: $background;
		padding: 40px 20px;
	}
	.sectionTwo{
		width: 80%;
	}
	.container {
		grid-template-columns: repeat(3, 1fr);
		width: 80%;
		max-width: 800px;
	}
	.pasarela {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	.description{
		font-size: 2rem;
	}
	.buttonOne, .buttonTwo {
		width: 100%;
	}
	.buttons {
		display: flex;
		gap: 10px;
	}
}
