@import '../../styles/variables';
.container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin: auto;
	text-align: center;
	gap: 20px;
	width: 100%;
}
.image {
	background-color: $color_quinary;
	box-shadow: 2px 2px 8px #0000001a;
	border-radius: 10px;
	img {
		object-fit: cover;
	}
}

// desktop {
@media (min-width: 1024px) {
	.container {
		grid-template-columns: repeat(3, 1fr);
		width: 80%;
	}
}
