@import '../../styles/variables';
.modal {
  @include center;
  background-color: rgba(0, 0, 0, .8);
  backdrop-filter: blur(5px);
  bottom: 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: none;
  overflow-y: hidden;
  z-index: 20;
}
.modalBackground {
  background-color: $color_quinary;
  border-radius: 10px;
  position: absolute;
  height: 80%;
  width: 80%;
}
.modalContent {
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 80%;
  img {
    object-fit: cover;
  }
}
.image {
  text-align: center;
}
.title {
  color: $color_tertiary;
  font-size: 2rem;
  font-family: $font_primary_bold;
  text-align: center;
  margin: 0;
}
.description {
  margin: auto;
  text-align: center;
  font-size: 1.4rem;
  width: 90%;
}
.button {
  font-size: 1.5rem;
  margin: auto;
  width: 180px;
}

.exit {
  background: transparent;
  border: 0;
  cursor: pointer;
  width: 100px;
  color: $color_quinary;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  font-size: 1.6rem;
  left: 0;
  top: 20px;
  right: 10%;
  position: absolute;
}

#miModal:target {
  opacity: 1;
  pointer-events: auto;
}
// desktop {
@media (min-width: 1024px) {
  .modalBackground {
    border-radius: 44px;
    padding: 10px 20px;
    width: 450px;
    height: 450px;
  }
  .transform {
    .modalBackground {
      transform: rotate(45deg);
    }
  }
  .modalContent {
    width: 450px;
    height: 450px;
  }
  .exit {
    justify-content: flex-start;
    left: 350px;
    top: 50px;
    right: 0;
    position: absolute;
  }
}