.banner {
  h1 {
    font-weight: 100;
    span {
      font-weight: bold;
    }
  }
  button,
  a {
    div {
      width: 200px !important;
    }
  }
}

.featureOne {
  margin-top: 50px;
  & p {
    width: 100%;
  }
}

.containerAllies {
  padding: 40px;
}

// desktop
@media (min-width: 1024px) {
  .banner {
    button,
    a {
      div {
        width: 250px !important;
      }
    }
  }
}