@import '../../styles/variables';
.container{
  background-color: $color_quaternary;
  margin-top: 250px;
  padding: 5%;
}

.sliderOne {
  margin-top: -50%;
}

.items{
  margin: 20px 0;
  gap:20px;
}

.item {
  padding: 0 5px ;
  img {
    border-radius: 10px;
  }
}
.content{
  padding-top: 20px;
}
.title{
  font-size: 2.3rem;
  text-align: center;
  font-weight: 100;
}
.description p {
  font-size: 1.8rem;
  line-height: 1.4;
}
.button {
  font-size: 1.6rem;
  width: 180px;
}

// desktop
@media (min-width: 1024px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    margin: 50px auto;
    width: 80%;
    gap: 4%;
  }
  .sliderOne {
    margin-top: 0;
    order: 1;
    width: 48%;
  }
  .content {
    order: 2;
    width: 48%;
    .title, .description {
      text-align: left;
    }
  }
  .items {
    padding-top: 20px;
    order: 3;
    width: 100%;
    img{
      object-fit: cover;
    }
  }
}