@import '../../styles/variables';
.descriptionTitleDesktop{
  display: none;
}
.containerAllies {
  margin-top: 100px;
}

.containerCommercial {
  margin-top: 50px;
  margin-bottom: 50px;
}
@media (min-width: 1024px) {
  .descriptionTitleDesktop {
    display: block;
  }
  .containerCommercial {
  margin-bottom: 100px;
  }
}