@import '../../styles/variables';
.descriptionTitleDesktop{
  display: none;
}
.containerAllies {
  margin-top: 100px;
}

.description {
  margin: 50px auto;
}
.benefits{
  margin-top: 50px;
  width: 100%;
}

.containerCommercial {
  margin-top: 50px;
  margin-bottom: 50px;
}
@media (min-width: 1024px) {
  .descriptionTitleDesktop {
    display: block;
  }
  .containerCommercial {
  margin-bottom: 100px;
  }
  .description {
    margin: 0 auto;
  }
  .benefits {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

// desktop
@media (max-width: 400px) {
  .containerCommercial {
    &>section {
      height: 820px;
    }
  }
}