@import '../../styles/variables';
.container {
	// @include container;
	@include center;
	color: $color_primary;
	padding-top: 0;
	flex-direction: column;
	margin-bottom: 0;
	text-align: center;
	background: none;
}
.title {
	font-weight: 100;
	text-align: center;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-size: 2.5rem;
		width: 90%;
		margin: auto;
	}
	span {
		color: $color_tertiary;
		text-align: center;
		// display: block
	}
}

.image {
	// @include center;
	margin: auto;
	height: 250px;
	position: relative;
	width: 100%;
	img {
		object-fit: cover;
	}
	.orange {
		background: transparent linear-gradient(90deg, #ff9a3e 0%, #ff9c26 100%) 0%
			0% no-repeat padding-box;
	}
	.blue {
		background: transparent linear-gradient(90deg, #4faffc 0%, #0b93ff 100%) 0%
			0% no-repeat padding-box;
	}
}

.content {
	padding: 0 5%;
  margin: 7rem 0 0;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-size: 32px;
	}
	span {
		color: $color_tertiary;
	}
	p {
		color: $color_primary;
		font-size: 18px;
		line-height: 1.5;
	}
	.buttons {
		@include center;
		flex-wrap: wrap;
		gap: 10px;
		text-align: center;
		font-size: 1.6rem;
		& div {
			width: 200px;
			height: 40px;
		}
	}
}

// desktop
@media (min-width: 769px) {
	.container {
		position: relative;
		height: 360px;
		flex-direction: row-reverse;
		background: url('/images/banners/fondo_agencias_header.jpg');
		background-size: contain;
		width: 100%;
		background-position: right;
		background-repeat: no-repeat;
	}
}

@media (min-width: 1025px){
	.container {
		height: 100vh;
	}
}

@media (min-width: 1024px) {
	.title {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-size: 3.5rem;
			text-align: left;
			margin-bottom: 0;
			width: 100%;
		}
		span{
			display: block;
			text-align: left;
		}
	}
	.image {
		height: 350px;
		width: 65%;
		img {
			object-fit: contain;
		}
	}
	.content {
		order: inherit;
		width: 35%;
		padding: 0 5% 0 10%;
		p {
			font-size: 1.6rem;
			text-align: left;
		}
		.buttons {
			// @include center;
			justify-content: flex-start;
			gap: 20px;
			font-size: 1.6rem;
		}
	}
}

@media (min-width: 1600px) {
	.title {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-size: 50px;
		}
	}

	.content {
		p {
			font-size: 2rem;
			text-align: left;
		}
		.buttons {
			button,
			a {
				div {
					height: 40px;
				}
			}
		}
	}
}
