@import '../../styles/variables';
.container, .containerWorks, .containerStories {
	@include container;
	@include center;
	color: $color_primary;
	padding-top: 100px;
	flex-direction: column;
	margin-bottom: 15px;
	text-align: center;
}
.title {
	font-weight: 100;
	text-align: center;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-size: 2.5rem;
		width: 90%;
		margin: auto;
	}
	span {
		color: $color_tertiary;
		text-align: center;
		display: block
	}
}

.titleWorks, .titleStories {
	width: 100%;
	padding: 0 5%;
	text-align: center;
	span{
		color: $color_tertiary;
		display: inline-block;
	}
}

.titleStories{
	h1{
		font-size: 32px;
	}
	span {
		display: inline-block;
	}
}

.containerStories{
	padding: 0;
	margin: 100px auto 0;
	width: 100%;
}

.containerWorks{
	width: 100%;
	padding-top: 0;
	margin: 0px 0 0;
}

.image, .imageWorks, .imageStories {
	@include center;
	margin: auto;
	height: 250px;
	margin: 20px 0;
	position: relative;
	width: 100%;
	img {
		object-fit: cover;
	}
	.orange {
		background: transparent linear-gradient(90deg, #ff9a3e 0%, #ff9c26 100%) 0%
			0% no-repeat padding-box;
	}
	.blue {
		background: transparent linear-gradient(90deg, #4faffc 0%, #0b93ff 100%) 0%
			0% no-repeat padding-box;
	}
}

.imageWorks, .imageStories{
	height: 250px;
	margin: 20px 0px;
	img {
		object-fit: contain;
	}
}

.imageStories{
	height: 100%;
	margin: 0;
}

.containerLine{
	width: 90%;
	height: 10px;
	border-top: 2px solid #FF9325;
}

.content {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-size: 1.8rem;
	}
	span {
		color: $color_quaternary;
	}
	p {
		color: $color_secondary;
		font-size: 1.4rem;
		line-height: 1.5;
	}
	.buttons {
		@include center;
		flex-wrap: wrap;
		gap: 10px;
		text-align: center;
		font-size: 1.6rem;
		& div {
			width: 250px;
		}
	}
}

.contentWorks{
	padding: 0 5%;
}

@media (min-width: 768px) {
	.imageWorks{
		margin: 110px 0px 100px;
	}
}

// desktop
@media (min-width: 1024px) {
	.container {
		position: relative;
		// height: 800px;
	}
	.title {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-size: 3.5rem;
			text-align: left;
			margin-bottom: 0;
			width: 100%;
		}
	}
	.titleWorks {
		h1{
			text-align: center;
		}
	}
	
	.image {
		height: 350px;
		img {
			object-fit: contain;
		}
	}
	.imageWorks{
		height: 60vh;
		margin: 0;
	}

	.imageStories{
		margin: 60px 0;
	}
	
	.content {
		order: inherit;
		width: 70%;
		p {
			font-size: 1.6rem;
		}
	}
	.buttons {
		@include center;
		gap: 20px;
		font-size: 1.6rem;
	}
}

@media (min-width: 1280px){
	.imageWorks{
		height: 500px;
		margin: 80px 0 60px;
	}
}

@media (min-width: 1366px){
	.imageWorks{
		margin: 100px 0 60px;
	}
}

@media (min-width: 1600px) {
	.title {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-size: 5rem;
		}
	}

	.content {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-size: 2.5rem;
		}
		p {
			font-size: 2rem;
		}
		.buttons {
			button,
			a {
				div {
					height: 40px;
				}
			}
		}
	}
	.imageWorks{
		margin: 180px 0 180px;
	}
}
