@import '../../styles/variables';
.container{
  margin-bottom: 50px;
}
.containerMaps{
  margin-bottom: 120px;
}
.containerMaps_div{
  margin: 60px 0 100px;
  .containerMaps_div_p{
    text-align: center;
    margin-bottom: 40px;
    font-size: 18px;
    color: $color_secondary;
    font-family: $font_secondary_regular;
    padding: 0 5%;
  }
}
.content {
  margin-top: 50px;
}

.contentMaps{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  box-shadow: 0px 3px 6px #00000029;
}

.items, .itemsMaps {
  @include center;
  border: 2px solid $color_tertiary;
  border-radius: 10px;
  z-index: 1;
}

.itemsMaps{
  flex-direction:column;
  justify-content: flex-start;
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 0;
  padding-bottom: 40px;
}

.itemsMaps_description{
  padding: 5% 8% 0;
  h2{
    font-size: 26px;
    color:$color_primary;
    font-family: $font_primary_regular;
    span{
      color:$color_quaternary;
      font-family: $font_primary_bold;
    }
  }
  p{
    font-size: 14px;
    font-family: $font_secondary_regular;
    color:$color_secondary;
  }
  h3{
    font-size: 14px;
    font-family: $font_secondary_bold;
    color:$color_primary;
  }
}

.button {
  background-color: transparent;
  border: 0;
  color: $color_tertiary;
  cursor: pointer;
  font-family: $font_primary_bold;
  font-size: 1.6rem;
  font-style: italic;
  text-transform: uppercase;
  padding: 10px;
  width: 100%;

  &:nth-child(2) {
    border-left: 1px solid $color_tertiary;
    border-right: 1px solid $color_tertiary;
  }
}

.buttonMaps{
  background-color: transparent;
  font-size: 1.6rem;
  font-family: $font_secondary_regular;
  padding: 3% 0;
  width: 85%;
  height: 40px;
  margin: 10px 0;
  border: 1px solid #CFE0EB;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  .check{
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 2px;
    border-style: solid;
    border-width: 0.1rem;
    border-color: gray;
    margin-right: 10px;
    margin-left: 10px;
  }
  input[type="radio"]{
    display: none;
    & + *::before{
      content: "";
      display: inline-block;
      vertical-align: top;
      width: 5px;
      height: 10px;
      margin-left: 5px;
    }
    
    &:checked + *::before{
      border: solid #fff;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}

.activeSpan{
  background-color: $color_quaternary;
  border-color: $color_quaternary !important;
}

.buttonActive {
  background-color: $color_tertiary;
  border: 0;
  border-radius: 5px 0 0 5px;
  color: $color_quinary;
  height: 100%;
}
.inputActive{
  border: 1px solid $color_quaternary;
  border-radius: 5px;
}

.card, .cardMaps {
  position: relative;
}

.cardMaps{
  width: 100%;
}

.cardImage {
  margin-top: -5px;
  z-index: 0;
  div, span, img {
    width: 100% !important;
  }
}
.cardContent {
  position: absolute;
  bottom: 40px;
  left: 20px;
  color: $color_quinary;
}
.cardTitle {
  font-size: 2.5rem;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 5px;
}
.cardDescription {
  font-size: 1.8rem;
  width: 90%;
}
.cardButton {
  margin-top: 20px;
  font-size: 1.6rem;
  width: 170px;
  height: 30px;
}

// desktop
@media (min-width: 1024px) {
  .container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
  }
  .containerMaps_div{
    .containerMaps_div_p{
      padding: 0 20%;
    }
  }
  .content {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .items {
    display: grid;
    justify-content: inherit;
    align-items: inherit;
  }
  .button {
    &:nth-child(2) {
      border:0;
      border-top: 2px solid $color_tertiary;
      border-bottom: 2px solid $color_tertiary;
    }
  }
  .image {
    padding-bottom: 10px;
  }
  .buttonActive {
    border: 0;
    border-radius: 0;
  }

  .itemsMaps_description{
    padding: 8% 8% 0;
  }

  .itemsMaps{
    width: 30%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .contentMaps{
    width: 90%;
    margin: auto;
    flex-direction: row;
    height: 530px;
  }

  .cardMaps{
    width: 70%;
  }

  .cardImage {
    margin-top: -5px;
    z-index: 0;
    div,
    span,
    img {
      width: auto !important;
    }
  }
}

@media (min-width: 1680px) {
  .contentMaps{
    width: 70%;
  }
}